/*------------------------------------------------------------------------------------------------------------------------------*/

/*General Css*/

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Spectral', serif;
    font-weight: 200;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    height: 100%;
}

body {
    position: relative;
    height: 100%;
}

.navbar {
    font-size: 17px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

/*Home Screen*/

#Home {
    padding-top: 50px;
    color: #fff;
}

#text_box {
    color: white;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate( -55%, -55%);
    max-width: calc(35em * 0.7);
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 16px;
}

#intro_bio {
    max-width: calc(35em * 0.7);
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 16px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/*About Me Section*/

#AboutMe {
    padding-top: 50px;
    height: 100vh;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 100;
}

#about_me_header {
    padding-bottom: 20px;
}

#about_me_text {
    padding-top: 20px;
    padding-left: 8%;
    max-width: calc(60em * 0.65);
}

#profile_pic {
    border-radius: 50%;
    height: 170px;
    width: 170px;
}

.jumbotron {

    width: 50%;
}

/*If hits lower screen real estate, stack upon one another*/
@media (max-width: 600px) {
    .column {
        width: 50%;
    }
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/*Skills Section*/

#Skills {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #E5E8E8;
    color: black;
}

#skills_bio {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 18px;
}

#skill_icon {
    padding-top: 50px;
}

#skills_titles {
    font-weight: 400;
    font-size: 20px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/*Resume Section*/

#resume {
    padding-top: 10px;
    height: 200px;
    background: url(photos/dellxps13.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #000;
    color: #fff;
}

a.resume-btn {
    background: none;
    display: inline-block;
    padding: 10px 20px;
    color: #ddd;
    border: 2px solid #ccc;
    font-family: "Spectral", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 1px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

a.resume-btn:hover,
a.resume-btn:active {
    color: #fff;
    border: 2px solid #ccc;
    background-color: rgba(254, 254, 254, 0.2);
    padding: 10px 30px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/*Portfolio Section*/

#Portfolio {
    padding-top: 90px;
    padding-bottom: 100px;
    background: #fff;
}

#Portfolio * {
    z-index: 2;
}

#Portfolio .portfolio-row {
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width: 950px) {
    #Portfolio .portfolio-row {
        margin-left: 0px;
        margin-right: 0px;
    }
}

#Portfolio .section-heading {
    padding-bottom: 0px;
    margin-bottom: 20px;
}

#Portfolio .coming-soon {
    margin-bottom: 50px;
    text-transform: lowercase;
}

#Portfolio .portfolio-item-wrapper {
    width: 31%;
    display: inline-block;
    padding: 0 0 5px;
    margin: 0 1% 30px;
    vertical-align: top;
}

@media (max-width: 950px) {
    #Portfolio .portfolio-item-wrapper {
        width: 47%;
    }
}

@media (max-width: 630px) {
    #Portfolio .portfolio-item-wrapper {
        width: 100%;
    }
}

#Portfolio .portfolio-item {
    display: block;
    -webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.148438) 0 1px 2px;
    padding: 0;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#Portfolio .portfolio-item img {
    max-width: 100%;
    width: 100%;
    opacity: 1.0;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

#Portfolio .portfolio-overlay {
    position: absolute;
    background-color: rgba(26, 30, 31, 0.85);
    width: 100%;
    height: 100%;
    opacity: 0;
}

#Portfolio .portfolio-info,
#Portfolio .links,
#Portfolio .links a i,
#Portfolio .links a i::after,
#Portfolio .portfolio-overlay {
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

#Portfolio .links {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 36%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    -webkit-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
    transform: translate(0, -50px);
}

#Portfolio .links a i {
    position: relative;
    color: #fff;
    font-size: 24px;
    margin: 0 13px;
    z-index: 100;
}

#Portfolio .links a:hover i {
    color: #fff;
}

#Portfolio .links a i::after {
    position: absolute;
    content: "";
    left: -7px;
    top: -7px;
    width: 30px;
    height: 30px;
    /*border: 1px solid #fff;*/
    z-index: -1;
    border-radius: 50%;
}

#Portfolio .portfolio-info {
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: #00009C;
    color: #fff;
    height: 45px;
    width: 100%;
    text-align: center;
}

#Portfolio .portfolio-item:hover .portfolio-overlay,
#Portfolio .portfolio-item:hover .links {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

#Portfolio .portfolio-item:hover .portfolio-info {
    bottom: 0;
}

#Portfolio .portfolio-info h3 {
    font-size: 14px;
    line-height: 45px;
    font-weight: 400;
    margin: 0;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* ============== PORTFOLIO MODALS ============== */

..modal-header,
.modal-footer {
    background-color: #F0F0F0;
}

.modal-header .close {
    margin-top: -13px;
}

.close {
    font-size: 40px;
    font-weight: 300;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 700px;
    }
}

.modal-title {
    text-align: center;
    font-weight: 400;
}

.modal-title-description {
    text-align: center;
    margin: 10px 0 0 -25px;
    font-style: italic;
    font-weight: 400;
    color: #555;
}

.modal-content {
    border-radius: 0px;
}

.modal-body img {
    margin: 0 auto;
}

.modal-body p {
    text-align: center;
}

@media (max-width: 340px) {
    .modal-body p {
        font-size: 14px;
    }
}

.modal-body p.visit {
    margin-top: 50px;
}

.modal-body #visit-btn {
    padding: 10px;
    color: #00009C;
    border: 2px solid #00009C;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 40px 10px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.modal-body #visit-btn:hover {
    color: #fff;
    background-color: #00009C;
}

.modal-description {
    font-size: 15px;
    margin: 0px 25px;
}

@media (max-width: 340px) {
    .modal-description {
        margin: 0;
    }
}

.modal-footer .btn {
    border-radius: 0px;
    font-family: 'Lato', sans-serif;
}

::-moz-selection {
    text-shadow: none;
    background: #fed136;
}

::selection {
    text-shadow: none;
    background: #fed136;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #fed136;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* ======= CONTACT ======= */

#Contact {
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #F0F0F0;
    height: 40vh;
}

a.mail-btn {
    background: #222;
    display: inline-block;
    padding: 10px 20px;
    color: #ddd;
    border: 2px solid #ccc;
    font-family: "Spectral", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 1px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

a.mail-btn:hover,
a.mail-btn:active {
    color: #fff;
    border: 2px solid #ccc;
    background-color: #2980B9;
    padding: 10px 30px;
}

@media screen and (max-width: 480px) {
    #Contact {
        padding: 15px 10px 50px;
    }
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* ======= FOOTER ======= */

footer {
    color: #fff;
    background-color: #222;
    padding-top: 50px;
}

footer h3 {
    font-weight: 300;
}

ul.social-buttons li a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    outline: 0;
    color: rgba(255, 255, 255, 0.8);
    background: #333;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

@media screen and (max-width: 480px) {
    ul.social-buttons li a {
        display: block;
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        outline: 0;
        color: rgba(255, 255, 255, 0.8);
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
}

@media screen and (max-width: 340px) {
    ul.social-buttons li a {
        width: 37px;
        height: 37px;
    }
}

ul.social-buttons li a:hover,
ul.social-buttons li a:active {
    color: #FFF;
    -webkit-box-shadow: 1px 1px 3px #333;
    -moz-box-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.list-inline > li {
    padding: 0px !important;
}

#facebook:hover {
    background-color: #3B5998;
}


#instagram:hover {
    background-color: #cd486b;
}


#linkedin:hover {
    background-color: #0077B5
}

#github:hover {
    background-color: #4183C4;
}

#to-top {
    transition: all 0.5s;
}

#to-top:hover {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
}

#to-top img {
    width: 50px;
    padding: 5px;
    margin: 10px auto 0px;
}

#to-top-copy {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    margin: 0 auto;
    opacity: 0;
}

.copyright {
    font-weight: 300;
    color: #aaa;
}

.copyright p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

@media screen and (max-width: 480px) {
    #to-top {
        margin-top: 0px;
    }
    .copyright {
        padding-top: 0px;
        margin-top: 0px;
    }
}
